<div class="login-page">
    <div class="login-box w-30">
        <div class="card card-outline">
            <div class="card-header text-center">
                <img src="assets/smz-logo.png" style="max-height: 100px;" alt="Kisirani Machumvi" class="img-fluid mx-auto">
            </div>
            <div class="card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <form method="post">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control form-control-lg" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control form-control-lg" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                    </div>
                </form>

                <p class="mb-1">
                    <a>I forgot my password</a>
                </p>
                <p class="mb-4">
                    <a class="text-center">Register a new membership</a>
                </p>
            </div>
        </div>
    </div>
</div>