<aside class="main-sidebar elevation-8 sidebar-light-primary">
    <a href="javascript:void(0)" class="brand-link">
        <!-- <img src="assets/logo.png" alt="Kisirani Machumvi" class="brand-image" style="opacity: .7"> -->
     <span class="brand-text font-weight-bold">MAIN NAVIGATION</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <!-- <div class="image">
                <img src="assets/admin-lte/avatar2.png" class="img-circle elevation-2" alt="User Image">
            </div> -->
            <div class="info">
                <a href="javascript:void(0)" class="d-block font-weight-bold">SUZA CALE</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <li class="nav-item">
                    <a routerLink="/main/home/" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                        <i class="nav-icon fas fa-school"></i>
                        <p>
                         Campus
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a routerLink="/main/home/campus" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Manage Campuses</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                        <i class="nav-icon fas fa-school"></i>
                        <p>
                          Schools
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a routerLink="/main/home/school" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Manage Schools</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                        <i class="nav-icon fas fa-building"></i>
                        <p>
                          Department
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a routerLink="/main/home/department" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Manage Department</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                           Programs  
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item"> <a routerLink="/main/home/programs" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Manage Program</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                          Course 
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a routerLink="/main/home/course" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Manage Course</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/main/home/programs" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Course Allocation</p>
                            </a>
                        </li>
                       
                    </ul>
                </li>
                <li class="nav-item">
                    <a routerLink="#" class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                       Semister
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a routerLink="/main/home/semister" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>  Manage Semister</p>
                            </a>
                        </li>
                     
                    </ul>
                </li>
                <li class="nav-item">
                    <a routerLink="#" class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                         Accademic Settings
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a routerLink="/main/home/academic-year" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>  Manage Accademic Year</p>
                            </a>
                        </li>
                     
                    </ul>
                </li>
                <li class="nav-item">
                    <a routerLink="#" class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                         Academic Staff
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a routerLink="/main/home/staff" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>  Manage Staff List</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/main/home/pertime" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>  Manage PerTime Staff</p>
                            </a>
                        </li>
                     
                    </ul>
                </li>
                
                <li class="nav-item">
                    <a routerLink="#" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                    Load Student
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a routerLink="/main/home/student" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>  Manage Student</p>
                            </a>
                        </li>
                     
                    </ul>
                </li>
                <!-- <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>
                           Lecture's Evaluation
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a routerLink="/main/home/student" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Lecture Managment</p>
                            </a>
                        </li>
                     
                     
                    </ul>
                </li> -->
                <li class="nav-header">Help</li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                        <i class="nav-icon far fa-headphone"></i>
                        <p>Audit Control</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>